// Colors
// Primary
$purple-600: hsl(246, 80%, 60%);
$orange-300: hsl(15, 100%, 70%); // work
$blue-300: hsl(195, 74%, 62%); // play
$pink-400: hsl(348, 100%, 68%); // study
$green-400: hsl(145, 58%, 55%); // exercise
$purple-700: hsl(264, 64%, 52%); // social
$yellow-300: hsl(43, 84%, 65%); // self care

// Neutral
$navy-950: hsl(226, 43%, 10%);
$navy-900: hsl(235, 46%, 20%);
$purple-500: hsl(235, 45%, 61%);
$navy-200: hsl(236, 100%, 87%);



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

// Typography

@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 300, 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rubik/v31/iJWKBXyIfDnIV7nBrXyw023e.woff2) format('woff2');
//   unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body{
    font-size: 18px;
    color: white;
    font-family: "Rubik";
}

/* testo */
h1 {
  font-size: 2.5rem;
  font-weight: 300;
}
h2{
    font-size: 1rem;
    font-weight: 400;
}
h3 {
  color: $navy-200;
  font-size: 0.9rem;
  font-weight: 300;
}


.container{
    background-color: $navy-950;
    height: 100dvh;
    display: flex;
    align-items: center;
}

.grid{
    display: grid;
    justify-items: center;
    align-items: center;
    width: 100%;
    justify-content: center;
    padding: 20px;
    gap: 30px;
    grid-template-areas:
        "sidebar card card card"
        "sidebar card card card";
    grid-template-columns: repeat(4, 200px);
}

.card{
    background-color: $navy-900;
    border-radius: 10px;
    // padding: 20px;
    height: 100%;
    width: 100%;
    display: flex;
    // align-items: center;
    flex-direction: column;
    position: relative;
}

.sidebar{
    grid-row: span 2;
    padding: 0;

    .header{
        background-color: $purple-600;
        padding: 20px;
        border-radius: inherit;
        height: 100%;
        display: inline-flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 30px;
    }

    img {
        width: 40%;
        border: 2px solid white;
        border-radius: 50%;
    }

   
}

// switch
.switch-time{
    display: inline-flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    align-items: flex-start;
}

.daily, .weekly, .monthly{
    color: $purple-500;
    cursor: pointer;
}

.selected{
    color: $navy-200;
}

// card elements
.card-img{
    position: relative;
    right: 5px;
    top: -5px;
    width: 50px;
    height: 50px;
}


.heading {
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    justify-content: space-between;

    img{
        cursor: pointer;
    }
}

.content {
    padding: 20px;
    border-radius: inherit;
    background-color: $navy-900;
    display: flex;
    flex-direction: column;
    gap: 20px;

    position: absolute;
    bottom: 0;
    width: 100%;

    cursor: pointer;
}



.background {
    display: flex;
    border-radius: inherit;
    justify-content: flex-end;
    overflow: clip;
    width: 100%;
}

// color background card
.card{
    background-position: 90% -5%;
    background-repeat: no-repeat;
    background-size: 60px;

}
.work {
    background-color: $orange-300;
    background-image: url("/images/icon-work.svg");
 
}

.play {
    background-color: $blue-300;
    background-image: url("/images/icon-play.svg");
}

.study {
    background-color: $pink-400;
    background-image: url("/images/icon-study.svg");
}

.exercise {
    background-color: $green-400;
    background-image: url("/images/icon-exercise.svg");
    background-position: 90% 0;

}

.social {
    background-color: $purple-700;
    background-image: url("/images/icon-social.svg");

}

.selfcare {
    background-color: $yellow-300;
    background-image: url("/images/icon-self-care.svg");

}




@media (max-width:768px) {
    .container{
        height: 100%;
    }

    .grid{
        grid-template-areas: none;
        grid-template-columns: auto;
    }

    .sidebar{
        .header{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 20px;

            h1{font-size: 1.5rem;}

        }
        img {
            width: auto;
            height: 60px;
        }
    }

    .switch-time {
        flex-direction: row;
        justify-content: space-evenly;
    }

    .card{
        height: 150px;
    }
    
    .timeframes {
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
    }

        
    h1{    
        font-size: 2rem;
    }
        
}
